<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Enfermeira Joy</title>
    <!--Icones-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Materialize CSS-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection">
    </head>

    <body>
    <!-- Menu -->
        <nav class="z-depth-1">
            <div class="container" style="padding: 0 20px 0 20px;">
                <a href="" class="brand-logo">Simulador de Batalhas Pokémon</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="index.html" class="btn white black-text">Sair<i class="material-icons right">close</i></a></li>
                </ul>
            </div>
        </nav>

    <!-- Navegacao -->
        <nav class="transparent z-depth-0">
            <div class="container">
                <div class="col s12 z-depth-0"></div>
                    <a href="" class="breadcrumb grey-text">Início</a>
                </div>
            </div>
        </nav>

        <div class="container">

        <!-- Boas Vindas -->
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel white lighten-5 z-depth-0">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="../imagens/perfil/joy.png" alt="" class="circle responsive-img ">
                        </div>
                        <div class="col s10">
                            <blockquote>
                                <h5 class="grey-text">BEM VINDA DE VOLTA,</h5>
                                <h4 class="bold">ENFERMEIRA JOY!</h4>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Cards -->
            <div class="row">
            
            <!-- Pokémon -->
                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="../imagens/menu/pokemon.jpg">
                        </div>
                        <div class="card-action">
                            <a href="gerenciarPokemon.html" class="btn">Pokémon<i class="material-icons right">send</i></a>
                        </div>
                    </div>
                </div>

            <!-- Tipos -->
                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="../imagens/menu/tipos.png">
                        </div>
                        <div class="card-action">
                            <a href="gerenciarTipos.php" class="btn">Tipos<i class="material-icons right">send</i></a>
                        </div>
                    </div>
                </div>

            <!-- Treinadores -->
                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="../imagens/menu/treinadores.png">
                        </div>
                        <div class="card-action">
                            <a href="gerenciarTreinadores.html" class="btn">Treinador<i class="material-icons right">send</i></a>
                        </div>
                    </div>
                </div>

            <!-- Batalhas -->
                <div class="col s3">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="../imagens/menu/batalhas.jpg">
                        </div>
                        <div class="card-action">
                            <a href="gerenciarBatalhas.html" class="btn">Batalhas<i class="material-icons right">send</i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>  
    </body>
</html>